<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <modules>
      <Roger_Visanet>
        <version>1.0.0.0</version>
      </Roger_Visanet>
    </modules>
   
    <global>
      <fieldsets>
        <sales_convert_quote_payment>
          <custom_field_one>
            <to_order_payment>*</to_order_payment>
          </custom_field_one>
          <custom_field_two>
            <to_order_payment>*</to_order_payment>
          </custom_field_two>
        </sales_convert_quote_payment>
      </fieldsets>
       
      <helpers>
        <visanet>
          <class>Roger_Visanet_Helper</class>
        </visanet>
      </helpers>
   
      <blocks>
        <visanet>
          <class>Roger_Visanet_Block</class>
        </visanet>
      </blocks>
           
      <models>
        <visanet>
          <class>Roger_Visanet_Model</class>
        </visanet>
      </models>
   
      <resources>
        <visanet_setup>
          <setup>
            <module>Roger_Visanet</module>
          </setup>
        </visanet_setup>
      </resources>
  	<events>
              <checkout_type_onepage_save_order_after>
                  <observers>
                      <roger_visanet_observer>
                          <class>Roger_Visanet_Model_Observer</class>
                          <method>saveOrderQuoteToSession</method>
                      </roger_visanet_observer>
                  </observers>
              </checkout_type_onepage_save_order_after>
      </events>
    </global>
    <adminhtml>
     <events>
        <core_block_abstract_to_html_after>
          <observers>
            <roger_visanet_core_block_abstract_to_html_after>
              <class>Roger_Visanet_Model_Adminhtml_Observer</class>
              <method>addOrderCustomBlock</method>
            </roger_visanet_core_block_abstract_to_html_after>
          </observers>
        </core_block_abstract_to_html_after>
      </events>
      <layout>
        <updates>
          <ordercustomblock>
            <file>roger/visanetorderblock.xml</file>
          </ordercustomblock>
        </updates>
      </layout>
    </adminhtml>
    <default>
      <payment>
        <visanet>
          <active>1</active>
          <model>visanet/paymentmethod</model>
          <order_status>pending</order_status>
          <title>Visanet</title>
          <allowspecific>0</allowspecific>
  		<production>0</production>
  		<invocationapidev>https://devapice.vnforapps.com/api.ecommerce/api/v1/ecommerce/token/{mechantid}</invocationapidev>
  		<invocationapipro>https://apice.vnforapps.com/api.ecommerce/api/v1/ecommerce/token/{mechantid}</invocationapipro>
  		<jslibrarydev>https://static-content.vnforapps.com/v1/js/checkout.js?qa=true</jslibrarydev>
  		<jslibrarypro>https://static-content.vnforapps.com/v1/js/checkout.js</jslibrarypro>
  		<authorizationapidev>https://devapice.vnforapps.com/api.authorization/api/v1/authorization/web/{merchantId}</authorizationapidev>
  		<authorizationapipro>https://apice.vnforapps.com/api.authorization/api/v1/authorization/web/{merchantId}</authorizationapipro>
  		<buttonsize>SMALL</buttonsize>
  		<buttoncolor>NAVY</buttoncolor>
  		<formbuttomcolor>#0d0a8f</formbuttomcolor>
  		<showpagar>0</showpagar>
          <payment_action>sale</payment_action>
        </visanet>
      </payment>
    </default>
     
    <frontend>
      <routers>
        <visanet>
          <use>standard</use>
          <args>
            <module>Roger_Visanet</module>
            <frontName>visanet</frontName>
          </args>
        </visanet>
      </routers>
    </frontend>
    </default>
</config>